        @media print {
            body {
                display: none !important;
            }
        }

         body{
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            color: green;
            background-color: white;
            font-family: Courier, monospace;
            font-weight: bold;
         }
        .moving-bg {
          background-size: cover;
          animation: moveAround 10s linear infinite;
        }

        @keyframes moveAround {
          0% { transform: translate(0, 0); }
          25% { transform: translate(20px, 20px); }
          50% { transform: translate(-20px, -20px); }
          75% { transform: translate(20px, -20px); }
          100% { transform: translate(0, 0); }
        }

  /* Loader Styling */
        #preloader {
            position: fixed;
            width: 100%;
            height: 100%;
            background: white;
            background-image: url('../img/priest.jpeg');
             background-position: center;
              background-repeat: no-repeat;
/*              background-size: cover;*/
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 9999;
        }

        .spinner {
            border: 6px solid #f3f3f3;
            border-top: 6px solid green;
            border-radius: 50%;
            width: 50px;
            height: 50px;
            animation: spin 1s linear infinite;
        }

        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }

 .odusign{
            font-family: Courier, monospace;
            font-weight: bold;
            text-align: center;
/*            margin-top: 20vh;*/
            font-size: 20px;
        }
        .numerology{
            font-family: Courier, monospace;
             font-weight: bold;
            text-align: center;
            margin-top: 5vh;
            font-size: 20px;
        }
        h1 {
            margin-bottom: 20px;
        }

     #birthdate-box {
                margin-bottom: 10px;
            }

       input[type="date"] {
            width: 80%;
            max-width: 250px;
            padding: 10px;
            font-size: 16px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }    

        button {
            font-size: 16px;
            background-color: #4caf50;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        button:hover {
            background-color: #45a049;
        }

        #random-btn {
            margin-top: 20px;
            padding: 10px 20px;
            font-size: 16px;
            background-color: #4caf50;
            color: white;
            border: none;
            border-radius: 25px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        #random-btn:hover {
            background-color: #45a049;
        }

        .footer {
                background-color: whire;
                color: black;
                padding: 30px 0;
                text-align: center;
            }

            .footer h4 {
                color: green;
            }

            .footer a {
                color: #f8b400;
                text-decoration: none;
            }

            .footer a:hover {
                text-decoration: underline;
            }

            .footer ul {
                padding: 0;
                list-style: none;
            }

            .footer .list-inline li {
                display: inline;
                margin: 0 10px;
            }

            .footer .list-inline li a {
                color: #fff;
                font-size: 20px;
            }

            .footer .list-inline li a:hover {
                color: #f8b400;
            }


/* .calculator {
            display: grid;
            grid-template-columns: repeat(3, 50px);
            gap: 10px;
            justify-content: center;
        }

        .calculator button {
              width: 50px; 
                height: 50px; 
                font-size: 20px; 
                text-align: center;
                line-height: 50px; 
                border-radius: 50%; 
                transition: background-color 0.3s ease-in-out; 
        }*/

        .calculator {
            position: relative;
            width: 200px;
            height: 200px;
            margin: auto;
/*            border: 2px solid green;*/
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            animation: rotate 500s linear infinite;
        }

        .calculator button {
            position: absolute;
            width: 50px;
            height: 50px;
            font-size: 20px;
            text-align: center;
            line-height: 50px;
            border-radius: 50%;
            transition: background-color 0.3s ease-in-out;
        }

        @keyframes rotate {
            from { transform: rotate(0deg); }
            to { transform: rotate(360deg); }
        }


        .calculator button:hover {
            background-color: white;
            border: 1px solid green;
        }

        .calculator button:focus {
            outline: none;
            background-color: white;
            border: 1px solid green;
            color: green;
        }

       .calculator button.clicked {
            font-weight: bold; /* Make number appear strong without affecting size */
        }

         #random-btn {
            margin-top: 20px;
            padding: 25px;
            font-size: 16px;
            background-color: #4caf50;
            color: white;
            border: none;
            border-radius: 25px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        #random-btn:hover {
            background-color: #45a049;
        }
